.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.add-blog-body label {
  text-align: left;
  display: block;
}

.add-blog-body h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.add-blog-body input, .add-blog-body textarea, .add-blog-body select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.add-blog-body button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.add-blog-image-icon {
 
  fill: white !important;
  font-size: 45px !important;
}

.add-blog-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: background-color 0.7s;
  /* border-top: 1px solid red; */
  background-color: rgb(219, 226, 226);
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.add-blog-image-container:hover{
  background-color: dodgerblue;
  cursor: pointer;
}

.add-blog-image-icon:hover{
  fill: black !important;
}

.editor-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  overflow: none;
  justify-content: center;
}

.rdw-editor-wrapper{
  max-height: 400px;
  height: max-content;
  overflow: scroll;
  width: 90vw;
}