.blog-detail-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 94vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(242, 246, 246);
}

.blog-detail-row {
    display: flex;
    width: 100%;
    text-align: start;
}

.blog-user-sticky {
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5%;
    align-items: center;
    top: 35px;
    display: flex;
    flex-direction: column;
    width: 19.5%;
    margin-top: 1.2%;
    margin-left: 5%;
    position: sticky;
    height: fit-content;
}

.sticky-user-card-column {
    padding: 3px;
}

.blog-detail-content>figure>img {
    max-width: 100%;
}

.blog-detail-wrapper-top {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.blog-detail-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
}

.blog-detail-page-content-wrapper {
    background-color: white;
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 20px;
}

/* .blog-detail-image{

} */

.blog-detail-article {
    padding-top: 20px;
}

.blog-detail-header {
    padding-bottom: 10px;
}

.blog-detail-author {
    padding-top: 10px;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
}

.blog-detail-content {
    margin-top: 1em;
    text-align: start;
    font-size: 18px;
}

.blog-detail-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.blog-detail-divider {
    margin-top: 20px;
}

.like-count-row {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.blog-detail-like-icon:hover {
    cursor: pointer;
}

.blog-detail-like-icon {
    width: 20px;
    height: 20px;
}

.blog-detail-comments-wrapper {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.blog-form-row, .blog-comment-row {
    display: flex;
    width: 100%;
}

.comment-content-wrapper {
    /* display: flex;
    flex-direction: column; */
    padding: 16px;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.blog-comment-row {
    margin-top: 40px;
}

.blog-detail-comment-textarea {
    width: 95%;
    overflow-y: auto;
    overflow-x: none;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    height: 120px;
    text-align: start;
}

.comments-header {
    margin-bottom: 30px;
    display: flex;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-header-row {
    display: flex;
    justify-content: space-between;
}

.comment-button {
    margin-top: 10px !important;
    background-color: #323ebe !important;
    align-self: flex-start !important;
}

.comment-content {
    margin-top: 10px;
    text-align: start;
}

.blog-detail-avatar {
    object-fit: cover;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-detail-user-card-avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-detail-name-field {
    margin-top: 10px;
}

.blog-detail-username {
    text-align: center;
    color: grey;
}

.blog-detail-commenter-name:hover {
    text-decoration: underline;
}

