@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto");
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
a {
    text-decoration: none; /* no underline */
  }
body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    padding: 12px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #f1356d;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    cursor: pointer;
    color: #f1356d;
}

input, label {
    display: block;
}

.signup-background, .login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/loginbackground.jpg");
}

/*responsive olsun*/

.signup-container, .login-container {
    overflow: hidden;
    border-radius: 1.75%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 28%;
    height: 83%;
    min-height: 600px;
    min-width: 400px;
    background-color: white;
    align-items: center;
}

.signup-container-header {
    margin-top: 5%;
    font-weight: 700;
}

.login-container-header {
    margin-top: 10%;
    font-weight: 700;
}

.signup-input-container, .login-input-container {
    width: 65%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.signup-with-others-paragraph, .login-with-others-paragraph {
    align-self: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

.social-media-signup-container, .login-media-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facebook-button, .gmail-button {
    border-radius: 24px !important;
    height: 50px;
    margin-bottom: 5% !important;
    width: 100%;
    justify-content: start !important;
}

.facebook-button {
    background-color: #4267B2 !important;
}

.signup-button, .login-button {
    border-radius: 24px !important;
    height: 50px !important;
    margin-top: 7% !important;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
}

.gmail-button {
    background-color: #DB4437 !important;
}

.social-media-button-text {
    padding-left: 10%;
    color: white !important;
    font-weight: 600;
}

.signup-button-text, .login-button-text {
    color: white !important;
    font-weight: 600;
}

.single-input-container {
    margin-top: 6px;
    width: 100%;
}

.input-field {
    width: 100%;
}

.text-link {
    text-decoration: none;
}

.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.header-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}