@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
input,
label {
  display: block;
}


.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: "cover";
    background-image: url("./assets/images/loginbackground.jpg");
}
/*responsive olsun*/
.login-container {
    border-radius: 1.75%;
    display: flex;
    flex-direction: column;
    padding: 1%; 
    width: 28%;
    height: 90%;
    min-height: 600px;
    min-width: 400px;
    background-color: white;
    align-items: center;
}

.login-container-header {
    margin-top: 10%;
    font-weight: 700;
}

.login-input-container {
    width: 65%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
  
  .login-with-others-paragraph {
    align-self: center;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  
  .social-media-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .facebook-button,
  .gmail-button {
    border-radius: 24px !important;
    height: 50px;
    margin-bottom: 5% !important;
    width: 100%;
    justify-content: start !important;
  }
  
  .facebook-button {
    background-color: #4267B2 !important;
  }
  
  .login-button {
      border-radius: 24px !important;
      height: 50px !important;
      margin-top: 7% !important;
      background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
  }

  .gmail-button {
    background-color: #DB4437 !important;
  }
  
  .social-media-button-text{
      padding-left: 10%;
      color: white !important;
      font-weight: 600;
  }

  .login-button-text{
    color: white !important;
    font-weight: 600;
  }

  .single-input-container{
      margin-top: 12px;
      width: 100%;
  }

  .input-field{
      width: 100%;
  }
  